In [224]:
import pandas as pd

# Caminho do arquivo Excel
caminho_arquivo = 'C:\\Users\\engno\Desktop\\ClassificacaoAgentes\\ClassificacaoAgentes.xlsx'

# Lê o arquivo Excel
df = pd.read_excel(caminho_arquivo)

# Exibe as primeiras linhas do DataFrame
df.head()

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\engno\AppData\Local\Temp\ipykernel_3312\1881771745.py:4: SyntaxWarning: invalid escape sequence '\D'
  caminho_arquivo = 'C:\\Users\\engno\Desktop\\ClassificacaoAgentes\\ClassificacaoAgentes.xlsx'

,Unnamed: 0,#,CG,SBJDC,AC,PPP,PCD,T#,NOME,NOTA,STATUS,Confirmaram o envio do doc fim de fila: 67,FIM DE FILA,ESCRIVÃO/AGENTE?,CG ESC,CONV ES,OBS,Unnamed: 17
0,NaN,1,1,NaN,1.0,NaN,NaN,T1,Felipe Santos Magnani Carneiro,168.03,CONVOCADO,False,NaN,AGENTE,172.0,NaN,NaN,maxmy
1,NaN,2,2,NaN,2.0,NaN,NaN,T1,Guilherme Augusto da Silva Bertaci,164.20,CONVOCADO,False,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3,3,NaN,NaN,1.0,NaN,T1,Rafael Pereira Felix,143.20,CONVOCADO,False,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4,4,NaN,3.0,NaN,NaN,T1,Jeancarlos da Silva Junior,163.62,CONVOCADO,False,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5,5,NaN,NaN,NaN,1.0,T1,Marissol Silva Pontes,126.05,CONVOCADO,False,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
# Renomeando colunas específicas
agentes = df.rename(columns={'T#': 'Turma'})
# Converte a coluna de float para int

In [226]:
agentes_pcd = agentes[
    (agentes['STATUS'] == 'AGUARDANDO') &
    (agentes['PCD'].notna())
]

agentes_pcd = agentes_pcd.sort_values(by='CG', ascending=True)
agentes_pcd

,Unnamed: 0,#,CG,SBJDC,AC,PPP,PCD,Turma,NOME,NOTA,STATUS,Confirmaram o envio do doc fim de fila: 67,FIM DE FILA,ESCRIVÃO/AGENTE?,CG ESC,CONV ES,OBS,Unnamed: 17
186,NaN,187,181,S,NaN,NaN,10.0,T1,Caio Vieira Florindo,114.41,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,228,221,NaN,NaN,NaN,12.0,T1,Luana Narjara Carvalho dos Santos,110.64,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,249,241,NaN,NaN,NaN,13.0,T1,Pablo Matos Cavalcante,110.05,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,250,241,S,NaN,NaN,13.0,T1,Tiago Pereira de Souza,110.47,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
269,NaN,270,261,NaN,NaN,NaN,14.0,T1,Anderson Bruno de Andrade Silva,107.76,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,271,261,S,NaN,NaN,14.0,T1,Marina Lemes de Carvalho,109.33,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,272,261,S,NaN,NaN,14.0,T1,Carlos Danillo Costa Santos,108.06,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
291,NaN,292,281,NaN,NaN,NaN,15.0,T1,Jeferson Cardoso Costa,107.58,AGUARDANDO,False,NaN,NaN,81.0,NaN,NaN,NaN
312,NaN,313,301,S,NaN,NaN,16.0,T1,Alexandre Oliveira Silva,106.18,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
334,NaN,335,321,NaN,NaN,NaN,17.0,T1,Mario Augusto Paulino de Lima Filho,95.07,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
335,NaN,336,321,S,NaN,NaN,17.0,T1,Jacqueline Neves de Souza,105.80,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
357,NaN,358,341,NaN,NaN,NaN,18.0,T1,Tamara da Silva Cardoso,92.37,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
ag_t1 = agentes[agentes["Turma"] == "T1"]
# Filtra os agentes que têm status diferente de 'convocado' e 'fim de fila'
# e que a coluna 'AC' não seja NaN

df_t1_nao_convocados = ag_t1[
    (ag_t1['STATUS'] == 'AGUARDANDO') &
    (ag_t1['AC'].notna())
]

df_t1_nao_convocados.reset_index(drop=True, inplace=True)

df_t1_nao_convocados = df_t1_nao_convocados.sort_values(by='CG', ascending=True)

# df_t1_nao_convocados = df_t1_nao_convocados[["ordem", "CG", "SBJDC", "Turma", "NOME"]]

# Exibe as primeiras linhas do DataFrame filtrado
df_t1_nao_convocados.head()

,Unnamed: 0,#,CG,SBJDC,AC,PPP,PCD,Turma,NOME,NOTA,STATUS,Confirmaram o envio do doc fim de fila: 67,FIM DE FILA,ESCRIVÃO/AGENTE?,CG ESC,CONV ES,OBS,Unnamed: 17
0,NaN,27,25,S,18.0,NaN,NaN,T1,Miriam Roisman,155.07,AGUARDANDO,False,NaN,NaN,7.0,NaN,NaN,NaN
1,NaN,143,139,S,104.0,NaN,NaN,T1,Lucas Gomes Marques,148.07,AGUARDANDO,False,NaN,AGENTE,117.0,NaN,NaN,NaN
2,NaN,181,176,S,132.0,NaN,NaN,T1,Alane Goncalves Vieira,146.70,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,221,215,NaN,161.0,NaN,NaN,T1,Tayssa Cordeiro de Oliveira,145.78,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,222,215,S,161.0,NaN,NaN,T1,Leonardo Esteves Ferreira Mendes,145.87,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
# Filtra os agentes que têm status diferente de 'convocado' e 'fim de fila'
# e que a coluna 'AC' não seja NaN
t1_nao_convocados_negros = ag_t1[
    (ag_t1['STATUS'] == 'AGUARDANDO') &
    (ag_t1['PPP'].notna())
]

t1_nao_convocados_negros.reset_index(drop=True, inplace=True)

t1_nao_convocados_negros = t1_nao_convocados_negros.sort_values(by='CG', ascending=True)

# t1_nao_convocados_negros = t1_nao_convocados_negros[["ordem", "CG", "SBJDC", "Turma", "NOME"]]

# Exibe as primeiras linhas do DataFrame filtrado
t1_nao_convocados_negros.head()

,Unnamed: 0,#,CG,SBJDC,AC,PPP,PCD,Turma,NOME,NOTA,STATUS,Confirmaram o envio do doc fim de fila: 67,FIM DE FILA,ESCRIVÃO/AGENTE?,CG ESC,CONV ES,OBS,Unnamed: 17
0,NaN,81,78,S,NaN,16.0,NaN,T1,Marcus Vinicius Correa de Macedo,137.60,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,214,208,NaN,NaN,42.0,NaN,T1,Victor Augusto Machado da Silva Andrade,133.34,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,219,213,NaN,NaN,43.0,NaN,T1,Pedro Cesar Queiroz da Silva,133.29,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,225,218,NaN,NaN,44.0,NaN,T1,Jaira Decia Conceicao Lima,133.12,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,231,223,NaN,NaN,45.0,NaN,T1,Bruno Nunes Teixeira Ferreira,132.75,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN

In [229]:
agentes_t2 = agentes[
    (agentes["Turma"] == "T2") &
    (agentes["STATUS"] == "AGUARDANDO") &
    (agentes['AC'].notna())
]
                     

agentes_t2.reset_index(drop=True, inplace=True)

agentes_t2 = agentes_t2.sort_values(by='CG', ascending=True)
agentes_t2.head()

,Unnamed: 0,#,CG,SBJDC,AC,PPP,PCD,Turma,NOME,NOTA,STATUS,Confirmaram o envio do doc fim de fila: 67,FIM DE FILA,ESCRIVÃO/AGENTE?,CG ESC,CONV ES,OBS,Unnamed: 17
0,NaN,538,512,NaN,1.0,NaN,NaN,T2,Mirian Sousa de Freitas,144.84,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,540,514,NaN,2.0,NaN,NaN,T2,Hugo Lopes Neves,144.81,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,541,515,NaN,3.0,NaN,NaN,T2,Ramon Braga Trajano,144.01,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,542,516,NaN,4.0,NaN,NaN,T2,Matheus Argolo Leao,143.93,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,543,517,NaN,5.0,NaN,NaN,T2,Hana Augusta de Andrade,143.41,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN

In [230]:
t2_sj = agentes_t2[
    (agentes_t2['STATUS'] == 'AGUARDANDO') &
    (agentes_t2['SBJDC'].notnull()) &
    (agentes_t2['AC'].notna())
]

t2_sj.head(15)

,Unnamed: 0,#,CG,SBJDC,AC,PPP,PCD,Turma,NOME,NOTA,STATUS,Confirmaram o envio do doc fim de fila: 67,FIM DE FILA,ESCRIVÃO/AGENTE?,CG ESC,CONV ES,OBS,Unnamed: 17
29,NaN,580,552,S,33.0,NaN,NaN,T2,Wesley de Oliveira Chaves,141.60,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,648,619,S,86.0,NaN,NaN,T2,Allan Leandro Bezerra do Nascimento,139.95,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,716,685,S,139.0,NaN,NaN,T2,Leonardo Ayres Simi de Camargo,138.68,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,724,692,S,145.0,NaN,NaN,T2,Erick Tavares de Abreu,138.55,AGUARDANDO,False,NaN,NaN,131.0,NaN,NaN,NaN
158,NaN,758,725,S,171.0,NaN,NaN,T2,Igor Gabriel Tinoco Gerardin Poirot Land,138.17,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,847,812,S,241.0,NaN,NaN,T2,Luisa Defranco Ferreira Peconick,136.49,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,868,831,S,256.0,NaN,NaN,T2,Henrique Alves Brito Sousa de Melo,136.25,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
283,NaN,930,892,S,305.0,NaN,NaN,T2,Jessica Piva,135.16,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
305,NaN,967,926,S,332.0,NaN,NaN,T2,Pedro de Paula Filho,134.34,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
324,NaN,1001,957,S,357.0,NaN,NaN,T2,Joao Augusto M de Magalhaes,133.19,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
344,NaN,1035,990,S,383.0,NaN,NaN,T2,Joao Paulo Vaz Mendes,132.13,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
349,NaN,1043,997,S,389.0,NaN,NaN,T2,Mariana de Avila Palhares,131.85,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,1068,1020,S,407.0,NaN,NaN,T2,Ana Paula Resende,130.54,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN

In [231]:
agentes_t2_negros = agentes[
    (agentes["Turma"] == "T2") &
    (agentes["STATUS"] == "AGUARDANDO") &
    (agentes['PPP'].notna())
]
                     

agentes_t2_negros = agentes_t2_negros.sort_values(by='CG', ascending=True)
agentes_t2_negros.head()

,Unnamed: 0,#,CG,SBJDC,AC,PPP,PCD,Turma,NOME,NOTA,STATUS,Confirmaram o envio do doc fim de fila: 67,FIM DE FILA,ESCRIVÃO/AGENTE?,CG ESC,CONV ES,OBS,Unnamed: 17
554,NaN,555,528,NaN,NaN,1.0,NaN,T2,Vinicius da Silva Costa,130.35,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
564,NaN,565,538,NaN,NaN,3.0,NaN,T2,Magno Pires Cunha,129.49,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
569,NaN,570,543,NaN,NaN,4.0,NaN,T2,Guilherme Vieira da Silva,129.44,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
574,NaN,575,548,NaN,NaN,5.0,NaN,T2,Michael Ferreira Alves Lima,128.82,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN
580,NaN,581,553,NaN,NaN,6.0,NaN,T2,Andressa Virginia Vieira Silva,128.56,AGUARDANDO,False,NaN,NaN,NaN,NaN,NaN,NaN

In [232]:
import numpy as np

In [233]:
import pandas as pd
from datetime import datetime, timedelta

# Data inicial
data_inicial = datetime(2024, 11, 6)

# Defina os feriados (excluindo o dia 15 de novembro)
feriados = [datetime(2024, 11, 15)]

# Cria uma regra de dias úteis customizada, excluindo o feriado especificado
dias_uteis_custom = pd.offsets.CustomBusinessDay(holidays=feriados)

# Gere as próximas 10 datas úteis a partir de 'data_inicial'
dias_uteis = pd.date_range(start=data_inicial, periods=40, freq=dias_uteis_custom).date
df_datas = pd.DataFrame({
    "Ordem": range(1, len(dias_uteis)),
    "Data_Inicial": dias_uteis[:-1],
    "Data_Final": dias_uteis[1:]
})
df_datas

    Ordem Data_Inicial  Data_Final
0       1   2024-11-06  2024-11-07
1       2   2024-11-07  2024-11-08
2       3   2024-11-08  2024-11-11
3       4   2024-11-11  2024-11-12
4       5   2024-11-12  2024-11-13
5       6   2024-11-13  2024-11-14
6       7   2024-11-14  2024-11-18
7       8   2024-11-18  2024-11-19
8       9   2024-11-19  2024-11-20
9      10   2024-11-20  2024-11-21
10     11   2024-11-21  2024-11-22
11     12   2024-11-22  2024-11-25
12     13   2024-11-25  2024-11-26
13     14   2024-11-26  2024-11-27
14     15   2024-11-27  2024-11-28
15     16   2024-11-28  2024-11-29
16     17   2024-11-29  2024-12-02
17     18   2024-12-02  2024-12-03
18     19   2024-12-03  2024-12-04
19     20   2024-12-04  2024-12-05
20     21   2024-12-05  2024-12-06
21     22   2024-12-06  2024-12-09
22     23   2024-12-09  2024-12-10
23     24   2024-12-10  2024-12-11
24     25   2024-12-11  2024-12-12
25     26   2024-12-12  2024-12-13
26     27   2024-12-13  2024-12-16
27     28   2024-12-16  2024-12-17
28     29   2024-12-17  2024-12-18
29     30   2024-12-18  2024-12-19
30     31   2024-12-19  2024-12-20
31     32   2024-12-20  2024-12-23
32     33   2024-12-23  2024-12-24
33     34   2024-12-24  2024-12-25
34     35   2024-12-25  2024-12-26
35     36   2024-12-26  2024-12-27
36     37   2024-12-27  2024-12-30
37     38   2024-12-30  2024-12-31
38     39   2024-12-31  2025-01-01

In [243]:
t1 = df_t1_nao_convocados
t1_ppp = t1_nao_convocados_negros
t2 = agentes_t2
t2_ppp = agentes_t2_negros
pcd = agentes_pcd

nome = 'naves'  # Em minúsculas

todos_ampla_cc = pd.concat([t1, t2], ignore_index=True)
todos_ampla_cc.reset_index(drop=True, inplace=True)
todos_ampla_cc['ordem'] = todos_ampla_cc.index + 1
todos_ampla_cc["Ampla"] = "Sim"
todos_ampla_cc["Negros"] = "Não"
todos_ampla_cc["PCD"] = "Não"

todos_negros = pd.concat([t1_ppp, t2_ppp], ignore_index=True)
todos_negros.reset_index(drop=True, inplace=True)
todos_negros['ordem'] = todos_negros.index + 1
todos_negros["Negros"] = "Sim"
todos_negros["Ampla"] = "Não"
todos_negros["PCD"] = "Não"

pcd.reset_index(drop=True, inplace=True)
pcd['ordem'] = pcd.index + 1
pcd["Ampla"] = "Não"
pcd["Negros"] = "Não"
pcd["PCD"] = "Sim"

qtd_agentes = 40
qtd_agentes_sem_pcd = 43
qtd_agentes_ppp = 11
qtd_agentes_pcd = 3

busca_nome_ampla = todos_ampla_cc[todos_ampla_cc['NOME'].str.contains(nome, case=False, na=False)]
busca_nome_ampla["Dia (Xº)"] = np.where(
    np.ceil(busca_nome_ampla['ordem'] / qtd_agentes).astype(int) <= 4,  # Condição
    np.ceil(busca_nome_ampla['ordem'] / qtd_agentes).astype(int),  # Se verdadeiro, usa qtd_agentes
    np.ceil(busca_nome_ampla['ordem'] / qtd_agentes_sem_pcd).astype(int)  # Se falso, usa qtd_agentes_sem_pcd
)
busca_nome_ampla["Data Provável"] = busca_nome_ampla["Dia (Xº)"].apply(lambda x: df_datas.loc[df_datas["Ordem"] == x, "Data_Inicial"].values[0] if x in df_datas["Ordem"].values else None)

busca_nome_negros = todos_negros[todos_negros['NOME'].str.contains(nome, case=False, na=False)]
busca_nome_negros["Dia (Xº)"] = np.ceil(busca_nome_negros['ordem'] / qtd_agentes_ppp).astype(int)
busca_nome_negros["Data Provável"] = busca_nome_negros["Dia (Xº)"].apply(lambda x: df_datas.loc[df_datas["Ordem"] == x, "Data_Inicial"].values[0] if x in df_datas["Ordem"].values else None)


busca_nome_pcd = pcd[pcd['NOME'].str.contains(nome, case=False, na=False)]
busca_nome_pcd["Dia (Xº)"] = np.ceil(busca_nome_pcd['ordem'] / qtd_agentes_pcd).astype(int)
busca_nome_pcd["Data Provável"] = busca_nome_pcd["Dia (Xº)"].apply(lambda x: df_datas.loc[df_datas["Ordem"] == x, "Data_Inicial"].values[0] if x in df_datas["Ordem"].values else None)

resultado_ampla = busca_nome_ampla[["NOME", "Dia (Xº)", "Data Provável", "ordem", "Ampla", "Negros", "PCD", "CG", "Turma"]]
resultado_negro = busca_nome_negros[["NOME", "Dia (Xº)", "Data Provável",  "ordem", "Ampla", "Negros", "PCD", "CG", "Turma"]]
resultado_pcd = busca_nome_pcd[["NOME", "Dia (Xº)", "Data Provável", "ordem", "Ampla", "Negros", "CG", "PCD", "Turma"]]

resultado_combinado = pd.concat([resultado_ampla, resultado_negro, resultado_pcd], ignore_index=True)

resultado_combinado

C:\Users\engno\AppData\Local\Temp\ipykernel_3312\703192587.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  busca_nome_ampla["Dia (Xº)"] = np.where(
C:\Users\engno\AppData\Local\Temp\ipykernel_3312\703192587.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  busca_nome_ampla["Data Provável"] = busca_nome_ampla["Dia (Xº)"].apply(lambda x: df_datas.loc[df_datas["Ordem"] == x, "Data_Inicial"].values[0] if x in df_datas["Ordem"].values else None)

,NOME,Dia (Xº),Data Provável,ordem,Ampla,Negros,PCD,CG,Turma
0,Diogo Silva Naves,6,2024-11-13,250,Sim,Não,Não,567,T2

In [235]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\python312\lib\site-packages (3.1.3)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\engno\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\python312\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\engno\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [240]:
agente_ampla = todos_ampla_cc

agente_ampla["Dia (Xº)"] = np.where(
    np.ceil(todos_ampla_cc['ordem'] / qtd_agentes).astype(int) <= 4,  # Condição
    np.ceil(todos_ampla_cc['ordem'] / qtd_agentes).astype(int),  # Se verdadeiro, usa qtd_agentes
    np.ceil(todos_ampla_cc['ordem'] / qtd_agentes_sem_pcd).astype(int)  # Se falso, usa qtd_agentes_sem_pcd
)
agente_ampla["Data Provável"] = agente_ampla["Dia (Xº)"].apply(lambda x: df_datas.loc[df_datas["Ordem"] == x, "Data_Inicial"].values[0] if x in df_datas["Ordem"].values else None)
agente_ampla = agente_ampla[["NOME", "ordem", "Dia (Xº)", "Data Provável", "Turma"]]

agente_negro = todos_negros
agente_negro["Dia (Xº)"] = np.ceil(todos_negros['ordem'] / qtd_agentes_ppp).astype(int) 
agente_negro["Data Provável"] = agente_negro["Dia (Xº)"].apply(lambda x: df_datas.loc[df_datas["Ordem"] == x, "Data_Inicial"].values[0] if x in df_datas["Ordem"].values else None)
agente_negro = agente_negro[["NOME", "ordem", "Dia (Xº)", "Data Provável", "Turma"]]

agente_pcd = pcd
agente_pcd["Dia (Xº)"] = np.ceil(pcd['ordem'] / qtd_agentes_pcd).astype(int) 
agente_pcd["Data Provável"] = agente_pcd["Dia (Xº)"].apply(lambda x: df_datas.loc[df_datas["Ordem"] == x, "Data_Inicial"].values[0] if x in df_datas["Ordem"].values else None)
agente_pcd = agente_pcd[["NOME", "ordem", "Dia (Xº)", "Data Provável", "Turma"]]

In [241]:
caminho_arquivo = 'C:\\Users\\engno\\Desktop\\dia-posse-agentes.xlsx'

with pd.ExcelWriter(caminho_arquivo, engine='openpyxl') as writer:
    agente_ampla.to_excel(writer, sheet_name='Ampla', index=False)
    agente_negro.to_excel(writer, sheet_name='PPP', index=False)
    agente_pcd.to_excel(writer, sheet_name='PCD', index=False)